@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap');

.container{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "dis dis dis dis"
    "AC AC div por"
    "siete ocho nueve menos"
    "cuatro cinco seis mas"
    "uno dos tres igual"
    "cero cero punto igual"
    ;
    border: 1px solid black;
}

.pathbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: grey;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
}

.pathbutton:hover{
    opacity: 0.9;
    border: 1px solid white;
}

.siete, .ocho, .nueve, .cuatro, 
.cinco, .seis, .uno, .dos, .tres,
.cero, .punto{
    background-color: rgb(66, 65, 65);
}

.AC{
    background-color: rgb(192, 40, 40);
    grid-area: AC;
}


.dis{
    grid-area: dis;
    background-color: black;
    text-align: right;
    color: white;
    font-size: 25px;
    padding: 5px 20px;
    border: 1px solid white;
    font-family: 'Stick No Bills', sans-serif;
}

.cero{
    grid-area: cero;
}

.igual{
    grid-area: igual;
    background-color: rgb(61, 61, 134);
}